@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap');

:root {
    --primary-color: #496767;
    --secondary-color: #a06f2c;
    --accent1-color: #216db2;
    --accent2-color: #a3bdc4;

    --heading-font: 'Trade Winds', normal;
    --paragraph-font: 'Raleway', sans-serif;

    --nav-background-color: #216db2;
    --nav-link-color: #496767;
    --nav-hover-link-color: #a3bdc4;
    --nav-hover-background-color: #a06f2c;
}

* {
    max-width: 100%; /* Adjust as needed */
}

/* header (used on every page of website) */
header {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    background-color: var(--nav-background-color);
}

header img {
    padding: 0;
    border: 2px solid #a06f2c;
    border-radius: 3rem;
    margin: 2rem;
}

.nav-flex {
    display: flex;
    font-family: var(--paragraph-font);
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

nav a {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: solid .1rem #a3bdc4;
    border-radius: .5rem;
    margin: 0;
    background-color: #c2e1ff;
    color: #496767
}

nav a:hover {
    background-color: #a06f2c;
    color: #fff;
    border-color: #5a3d14
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    margin: 2px;
    border: 2px var(--accent1-color);
    padding: 5px;
}

/* hero css */
.hero {
    position: relative;
    width: 100%;
    margin: auto;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    border: none;
    margin: 0;
    margin-top: .5rem
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    background-color: var(--accent1-color);
    color: #ebe8f8;
    text-align: center;
    opacity: 90%;
}

.hero-grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    top: 100px;
    width: 100%;
    background-color: var(--accent2-color);
    opacity: 90%;
}

.hero-grid img {
    /* float: right; */
    width: auto;
    height: auto;
    padding-top: 10px;
    margin: auto;
}


/* history section on about us page */
.history-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: solid .25rem #216db2;
    border-radius: .5rem;
    margin-top: .5rem;
}

.history-flex img {
    padding: 0;
    border: solid .1rem #216db2;
    border-radius: 0.5rem;
    margin: 1rem;
}

.history-flex p {
    padding: 0;
    border: 0;
    margin: 40px;
}

article.h2 {
    flex: 6 100%;
}

article {
    flex: 1 200px;
}

/* adventure section of about us page, flex */
.adventure-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    border: solid .25rem #216db2;
    border-radius: .5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.adventure-flex img {
    max-width: 175px;
    padding: 0;
    border: solid .1rem #216db2;
    border-radius: 0.5rem;
    margin: .25rem;
}

.adventure-flex figcaption {
    text-align: center;
    font-family: var(--paragraph-font);
    font-style: italic;
}

.adventure-flex h2 {
    flex: 6 100%;
}

article {
    flex: 1 200px;
}

/* Trips page */
/* call to action */
.call-to-action {
    display: flex;
    background-color: #c2e1ff;
}

.call-to-action p {
    color: #5a3d14
}

.call-to-action img {
    padding: 0;
    border: 2px solid #216db2;
    border-radius: .5rem;
}

/* hardcore featured adventures */
.featured {
    overflow: scroll;
    display: flex;
    border: solid #a3bdc4;
    justify-content: space-around;
    align-items: center;
}

.featured img {
    padding: 0;
    border: 2px solid #216db2;
    border-radius: .5rem;
    margin: .70rem;
    max-width: 90%;
}

.featured section {
    border: solid #67828a;
    border-radius: .5rem;
    margin: 2rem;
    background-color: #67828a;
    min-width: 15rem;
}

.featured h3, p {
    color: #ebe8f8;
}
/* Trips table */

.scroll { /* make the table scroll if it's too large for the page */
    overflow: scroll;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

table {
    display: inline-block;
    border: none;
    border-collapse: collapse;
    margin: 1rem;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table img {
    position: float;
}
th,
td {
    padding: 15px;
    border-left: 1px solid;
}

.table-img {
    border: none;
}
th {
    background-color: #5e7880;
    color: #fff;
}

.adv-name {
    background-color: #a06f2c;
    color: #fff;
}

.adv-name:hover {
    font-family: var(--heading-font);
}

td:hover /* hovering over a table cell */ {
    background-color: #216db2;
    color: #fff;
}



/* contact us page css */

/* Google maps and other info */
.where {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.where-column1 {
    padding: 0;
    border: none;
    margin: 2rem;
    justify-content: center;
}

.where-column2 {
    align-items: center;
    justify-content: center;

}

.where-p {
    text-align: left;
}

/* employees div class */
.employees-container {
    display: flex;
    flex-wrap: wrap;
    border: .5rem solid #496767;
    align-items: center;
    justify-content: space-around;
}


/* images within the employees grid */
.employees-container img {
    width: 200px;
    height: auto;
    padding: 0;
    border: solid #a06f2c;
    margin: 1rem;
}

/* .employees-container article {
    flex: 100px 200px;
}  */

/* Contact Us form on Contact Us page*/

.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block; /* this autosizes it to content I believe */
    width: 25rem;
    margin: 1rem;
    padding: 1rem;
    border: solid;
    border-radius: .5rem;
    
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: .25rem;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    text-align: left;
}

legend {
    font-family: var(--paragraph-font);
    font-size: larger;
    color: #496767;
}

label {
    text-align: left;
    padding-right: .5rem
}

input,
select,
textarea {
    padding: .5rem;
    font-size: 1.1rem;
    width: auto;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    display: block;
    margin: 0 auto;
    width: 118px;
    height: 60px;
    font-size: 1.1rem;
    border: solid #496767;
    border-radius: .5rem;
}

button:hover {
    background-color: #a06f2c;
    color: #fff;
}
/* footer css */
footer {
    background-color: var(--nav-background-color);
    color: #fff;
    min-width: 100%;
}

footer img {
    max-width: 50px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    padding: 0;
    border: none;
}

.footer-grid p {
    color: #fff;
}

.social-flex {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    border: none;
    margin: .5rem;
    margin-right: 0;
}
